/** Colors **/
:root {
  --font-background-primary-color: hsl(300, 43%, 22%);
  --font-secondary-color: hsl(333, 80%, 67%);
  --font-tertiary-color: hsl(303, 10%, 53%);
  --rated-elements: hsl(300, 24%, 96%);
}

/** General styles **/
* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  max-width: 1440px;
  background: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 0vw top 0vh, left 0vw bottom 0vh;
}

/** container **/

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 0.5rem;
}

/** introduction **/

.section__introduction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 21rem;
  height: auto;
}

.introduction {
  text-align: center;
  width: 100%;
  height: auto;
}

.introduction__title {
  font-size: 2rem;
  color: var(--font-background-primary-color);
}

.introduction__paragraph {
  color: var(--font-tertiary-color);
  line-height: 1.5;
}

/** rated **/

.rate__element {
  border-radius: 10px;
  background-color: var(--rated-elements);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 21rem;
}

.element__review {
  margin: 1rem 0 0 0;
}

.element__text {
  font-weight: 700;
  color: var(--font-background-primary-color);
}

/** section opinion **/

.section__opinion {
  margin: 1rem 0 0 0;
  width: 21rem;
}

.opinion__element {
  border-radius: 10px;
  background-color: var(--font-background-primary-color);
  padding: 2rem;
  margin: 1rem 0 0 0;
  width: 21rem;
  height: 16rem;
}

.person {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
}

.person__img {
  border-radius: 50%;
  width: 50px;
}

.person__name-buyer {
  color: #fff;
  font-size: 1rem;
  margin: 0 0 0 1rem;
  line-height: 1.5;
}

.person--buyer {
  color: var(--font-secondary-color);
  font-weight: 400;
}

.opinion__paragraph {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 2rem 0 0 0;
}

/** attribution **/

.attribution {
  text-align: center;
  margin: 2rem;
}

/** medias **/

@media (min-width: 768px) {
  body {
    background: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 0 top 0, right 0 bottom 0;
  }
}

@media (min-width: 1280px) {
  .container {
    display: block;
    padding: 6rem 5rem 2.5rem 5rem;
  }
  /** introduction **/
  .section__introduction {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .introduction {
    text-align: start;
    width: 29rem;
  }

  .introduction__title {
    font-size: 2.9rem;
  }

  /** rated **/

  .rate__element {
    width: 29rem;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    padding: 1.3rem 2rem;
  }

  .element__review {
    margin: 0;
  }

  .element__text {
    margin: 0 0 0 1.5rem;
  }

  .rate--margin-one {
    margin: 0 0 0 3rem;
  }

  .rate--margin-two {
    margin: 1rem 0 0 6rem;
  }

  /** section opinion **/

  .section__opinion {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  .opinion__element {
    width: 22rem;
    height: 15rem;
  }

  .opinion__paragraph {
    line-height: 2;
  }

  .opinion--margin-one {
    margin: 3rem 0 0 0;
  }

  .opinion--margin-two {
    margin: 6rem 0 0 0;
  }
}

@media (min-width: 1366px) {
  .opinion__element {
    width: 23rem;
    height: 16rem;
  }
}

@media (min-width: 1440px) {
  .container {
    display: block;
    padding: 6rem 9.5rem 2.5rem 9.5rem;
  }
}
